:root {
  //Colours
  @each $colour, $tones in $colours {
    //...and then the hex for each tone of the colour.
    @each $tone, $hex in $tones {
      $varname: $colour + "_" + $tone;
      --#{$varname}: #{$hex};
    }
  }

  --text-colour:        var(--monotones_base00);
  --background-colour:  var(--monotones_base3);
  --main-colour:        var(--colours_cyan);
  --contrast-colour:    var(--colours_magenta);

  //Rhythm
  @each $space, $value in $spacing {
    --spaceing-#{$space}:   #{$value};
  }
  --site-padding: var(--spaceing-1);
}
