.site-header {
  --text-colour: #{getcolour("grey", "white")};
  --background-colour: #{getcolour("primary")};
  --main-colour: #{getcolour("grey", "white")};
  --contrast-colour: #{getcolour("secondary")};

  background-color: var(--background-colour);
  color: var(--text-colour);
}
